*{margin:0;padding:0;}
ul{list-style: none;}

$width:100vw;
$height:100vh;


@font-face {
     font-family: 'everyB';
     src: url("../ttf/210\ 에브리바디B.ttf");
}
@font-face {
     font-family: 'everyR';
     src: url("../ttf/210\ 에브리바디R.ttf");
}
@font-face {
     font-family: 'everyL';
     src: url("../ttf/210\ 에브리바디L.ttf");
}


@font-face {
     font-family: 'numberFontR';
     src: url("../ttf/210\ 산들바람R.ttf");
}
@font-face {
     font-family: 'numberFontL';
     src: url("../ttf/210\ 산들바람L.ttf");
}


$EveryB : 'everyB';
$EveryR : 'everyR';
$EveryL : 'everyL';
$NumFR : 'numberFontR';
$NumFL : 'numberFontL';

$brown : #e8747e;
$pink : #fae7ed;
$bpink : #e8747e;
$purple : #471d4f;

@mixin backgroundAtr {
     background-repeat: no-repeat;
     background-size: contain;
}
@mixin list_btn {
     width: 25%;
     margin:0 1%;
     text-align: center;
     color: $pink;
     background-color: $brown;
}
@mixin list_btn_hover {
     cursor: pointer;
     color: $pink;
     background-color: $purple;
}
body{ 
     width: $width; height: $height;
     background-color: $bpink;
     @include backgroundAtr;
}
.container{
     background-image: url("../img/d2-01.png");
     // background-image: url("../img/d2-02.png");
     @include backgroundAtr;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content:space-evenly;

     .donut_wrap{
          width: 30%; margin: 8% 0 0 8%; 
          .tray_wrap{
               width: 100%; height: 35vw;
               display: flex; flex-wrap: wrap;
               ul{
                    width: 29%;
                    margin: 2%;
                    cursor: pointer;
                    font-family: $EveryR;
                    color: $purple;
                    font-size: 1.7vw;
                    .img_wrap{
                         height: 60%;
                         background-repeat: no-repeat;
                         background-position: 50% 50%;
                         background-size: contain;
                    }

                    li:nth-child(2), li:nth-child(3){
                         text-align: center;
                         height: 20%;
                         line-height: 150%;
                    }
                    li:last-child{
                         font-size: 1.3vw;
                         font-family: $NumFL;
                    }
               }
          }
     }
     .price_list_wrap{
          // width: 55vh;
          // margin:5% 3%;
          width: 27vw;
          margin: 4vw 1vw;
          background-image: url("../img/bill_bg.png");
          @include backgroundAtr;
          background-size :contain;
          .list_wrap{
               width: 80%;
               // height: 61vh;
               height: 33vw;
               margin: 5vw 2.5vw;
               position: relative;
               .list_title{
                    width: 100%;
                    text-align: center;
                    font-family: $EveryB;
                    font-size: 1.8vw;
                    padding-bottom: 1vh;
                    color: $purple;
                    border-bottom: 0.2vw solid #e8747e;
               }
               .list_product{
                    width: 100%;
                    // height: 100%;
                    // display: inline-block;
                    float: left;
                    section{
                         display: inline-block;
                         float: left;
                         width: 100%;
                         height: 100%;
                         margin-top: 0.8vw;
                         font-family: $EveryR;
                         font-size: 1.45vw;
                         span,div,button{
                              display: inline-block; float: left;
                         }
                         .product_name{width: 38%; margin-left:2%;}
                         .list_count_btn{
                              width: 30%;
                              #minus_btn, #plus_btn{
                                   @include list_btn;
                              }
                              #minus_btn:hover, #plus_btn:hover{
                                   @include list_btn_hover;
                              }
                              .product_count{
                                   width: 25%;
                                   margin: 0 3%;
                                   text-align: center;
                              }
                         }
                         .product_price_wrap{
                              width: 30%;
                              .product_total_price{
                                   width: 50%;
                                   text-align: center;
                              }
                              span:nth-child(2){
                                   width: 20%;
                                   text-align: left;
                              }
                              #del_btn{
                                   @include list_btn;
                                   margin-right: 2%;
                              }
                              #del_btn:hover{
                                   @include list_btn_hover;
                              }
                         }
                    }
               }
               .total_price_wrap{
                    // width: 100%;
                    // height: 10vh;
                    // display: block;
                    float: left;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 20%;
                    margin-bottom: 5%;
                    
                    // div.clear_btn{
                    //      width: 45%;
                    //      height: 84.6%;
                    //      font-size: 3vw;
                    //      font-family: $EveryB;
                    //      text-align: center;
                         
                    //      line-height: 200%;
                    //      border: 0.5vw solid $brown;
                    //      background-color: $brown;
                    // }
                    // div.clear_btn:hover{
                    //      background-color: $pink;
                    //      cursor: pointer;
                    //      color: $brown;
                    // }
                    div.bill_total{
                         width: 100%; height: 100%; float: left;
               
                         div{
                              width: 94%;
                              height: 44%;
                              margin: 3%;
                              font-size: 1.5vw;
                              font-family: $EveryB;
                              background-color: $brown;
                              color: $pink;
                              border-radius: 0.4vw;
                              -webkit-border-radius: 0.4vw;
                              -moz-border-radius: 0.4vw;
                              -ms-border-radius: 0.4vw;
                              -o-border-radius: 0.4vw;

                              span{
                                   display: inline-block; float: left;  
                                   width: 50%; 
                                   text-align: center; line-height: 200%;
                              }
                         }
                         div:last-child{
                              background-color: $purple;
                         }
                    }
               }
          }
     }
     .money_wrap{
          width: 25%;
          height: 100%;
          margin-right: 8%;
          text-align: center;
          font-family: $EveryR;
          display: flex;
          flex-direction: column;
          align-items: center; 
          justify-content: center;

          
          // 아이콘
          .donut_icon{
               width: 30vh;
               height: 30vh;
          }
          .moneyKind_wrap{
               margin: 5% 0;
               .moneyKind{
                    cursor: pointer;
                    width: 48%;
                    height: 5vh;
                    line-height: 5vh;
                    margin:1%;
                    float: left;
                    display: inline-block;
                    color: $pink;
                    font-size: 1.5vw;
                    text-align: center;
                    background-color: $bpink;
                    border-radius:0.7vw;
                    -webkit-border-radius:0.7vw;
                    -moz-border-radius:0.7vw;
                    -ms-border-radius:0.7vw;
                    -o-border-radius:0.7vw;
               }
               .moneyKind:hover{
                    color: $pink;
                    background-color: $purple;
               }
          }
          .payment_wrap{
               width: 100%;
               float: left;
               margin-top:5%;
               .payment_span_wrap{
                    width: 100%;
                    height: 5vh;
                    line-height: 5vh;
                    span{display: inline-block; font-family: $EveryB; font-size: 2vw; color: $purple;}
                    span:first-child{width: 50%;}
                    span:last-child{width: 50%;}
               }
               .payment_btn, .clear_btn{
                    float: left;
                    width: 48%;
                    height: 5vh;
                    line-height: 5vh;
                    margin: 1%;
                    font-size: 1.3vw;
                    color:$pink;
                    background-color: $purple;
                    border-radius: 0.5vw;
                    -webkit-border-radius: 0.5vw;
                    -moz-border-radius: 0.5vw;
                    -ms-border-radius: 0.5vw;
                    -o-border-radius: 0.5vw;
               }
               .payment_btn:hover, .clear_btn:hover{
                    cursor: pointer;
                    color:$pink;
                    background-color: $bpink;
     
               }
          }
     }
}
.popupbg{
     z-index: 500;
     position: fixed;
     display: none;
     width: 100%;
     height: 100%;
     top:0;
     left:0;
     background-color: rgba(0,0,0,0.8);
}
.change_popup_wrap{
     position: absolute; z-index: 1000; display: none;
     width: 15vw; height: 55vh;
     padding:2.5vh 2.5vw;
     top:50%; left:50%;
     margin-top:-30vh; margin-left:-7.5vw; 
     background-color: #e8747e;     
     .receipt_title{
          font-family: $EveryB;
          font-size: 2vw;
          text-align: center;
          color:$pink;
          width: 100%;
          height: 80%;
          float: left;
          div{
               width: 100%;
               height: 5%;
               margin-top:5%;
               font-family: $EveryR;
               font-size: 1.5vw;
               span{ display: block; float: left;}
               span:first-child{ width: 50%; text-align: left;}
               span:nth-child(2){ width: 30%; text-align: right; }
               span:last-child{ width: 20%; text-align: right;}
          }
          div:first-child{
               margin:12% 0;
               font-size: 1.75vw;
               font-family: $EveryB;
               color: $purple;
               // border-bottom:0.2vw solid $purple;
               // padding-bottom:8%;
               font-size: 1.5vw; font-family: $NumFR;
          }
          // div:nth-child(2){
          //      margin-top:-5%;
          // }
     }
}
//실패했을 때
.close_btn, .reset_btn{
     width: 45%;
     height: 10%;
     margin:0 2.5%;
     margin-top:10%;
     text-align: center;
     float: left;
     font-size: 1.5vw;
     font-family: $EveryB;
     line-height: 200%;
     color: $pink;
     background-color: $purple;
     border-radius: 0.5vw;
     -webkit-border-radius: 0.5vw;
     -moz-border-radius: 0.5vw;
     -ms-border-radius: 0.5vw;
     -o-border-radius: 0.5vw;
}
.close_btn:hover, .reset_btn:hover{
     background-color: $pink;
     color: $purple;
     cursor: pointer;
}



//팝업
.popup_text{
     z-index: 1000;
     position: absolute;
     display: none;
     width: 15vw;
     height: 15vh;
     top:50%;
     left:50%;
     margin-top:-7.5vh;
     margin-left:-7.5vw; 
     background-color: #e8747e;
     padding:2.5vh 2.5vw;
     //실패했을때
     span{
          text-align: center;
          display: block;
          width: 100%;
          height: 20%;
          font-family: $EveryR;
          color:$pink;
          font-size: 1.7vw;
          line-height: 250%;
     }
     .close_btn, .reset_btn{
          height: 40%;
          margin-top:20%;
     }
}
